@charset "utf-8";
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@charset */
/* https://www.resene.co.nz/swatches/preview.php?chart=Resene%20The%20Range%20fashion%20colours%2018&brand=Resene&name=Passport*/


body {
    /* https://www.resene.co.nz/swatches/preview.php?chart=Resene%20The%20Range%20fashion%20colours%2018&brand=Resene&name=Dark%20Side*/
    background-color: #2A3540;
}

.bg-grey, .bg-grey-light, .bg-grey-lightest  {
    background-color: #2A3540;
}

.text-grey-darkest {
    color: #A4ADB0;
}

.bg-svg-checkerboard {
    background: silver url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" \
      width="100" height="100" fill-opacity=".25" > \
    <rect x="50" width="50" height="50" /> \
    <rect y="50" width="50" height="50" /> \
    </svg>');
    background-size: 10px 10px;
} 


.text-grey-silver {
    color: silver;
}
