@charset "utf-8";
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@charset */

body {
    /* https://www.resene.co.nz/swatches/preview.php?chart=Resene%20The%20Range%20fashion%20colours%2018&brand=Resene&name=Dark%20Side*/
    background-color: #2A3540;
}

.bg-grey, .bg-grey-light, .bg-grey-lightest  {
    background-color: #2A3540;
}

#nav a {
    /* https://www.resene.co.nz/swatches/preview.php?chart=Resene%20The%20Range%20fashion%20colours%2018&brand=Resene&name=Passport*/
    color: #838166;
}

#nav a:hover, #nav a:focus, .hover\:text-grey:hover {
    color: #b8c2cc;
}

.text-grey-darkest {
    color: #A4ADB0;
}
